@model IEnumerable<SinExWebApp20272532.Models.Invoice>

@{
    ViewBag.Title = "Invoice Report";
}

<h2>Invoice Report</h2>

@using (Html.BeginForm("Index", "Invoices", FormMethod.Get))
{
    if (User.IsInRole("Employee"))
    {
        @Html.Label("Shipping Account: ")
        @Html.DropDownList("shippingAccount",SinExWebApp20272532.Models.ShippingAccount.getSelectList(),"Please select")
    }
    @Html.Label("Date From")
    @Html.TextBox("DateFrom", "", new { @class = "datefield", type = "date" })
    @Html.Label("Date To")
    @Html.TextBox("DateTo", "", new { @class = "datefield", type = "date" })
    <input type="submit" value="Search" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WaybillId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WaybillId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InvoiceId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InvoiceId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InvoiceId })
        </td>
    </tr>
}

</table>
