@model IEnumerable<SinExWebApp20272532.Models.Currency>

@{
    ViewBag.Title = "Currencies";
}

<h2>Currencies</h2>
<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        <td>

            @if (User.IsInRole("Employee"))
                {
                @Html.ActionLink("Edit", "Edit", new { id = item.CurrencyCode })
            }
        </td>

        <!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurrencyCode }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurrencyCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyCode })
        </td> 
        -->
    </tr>
}

</table>
