@model IEnumerable<SinExWebApp20272532.Models.Pickup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PickupTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsImmediatePickup)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PickupTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsImmediatePickup)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupId })
        </td>
    </tr>
}

</table>
