@using Microsoft.AspNet.Identity
@using SinExWebApp20272532.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (User.IsInRole("Customer"))
        {
            var db = new SinExDatabaseContext();
            bool isBusiness = false;
            bool isPersonal = false;
            try
            {
                BusinessShippingAccount bsa = (BusinessShippingAccount)db.ShippingAccounts.Where(s => s.UserName == User.Identity.Name).First();
                isBusiness = true;
            }
            catch (Exception e)
            {
                isBusiness = false;
            }
            try
            {
                PersonalShippingAccount bsa = (PersonalShippingAccount)db.ShippingAccounts.Where(s => s.UserName == User.Identity.Name).First();
                isPersonal = true;
            }
            catch (Exception e)
            {
                isPersonal = false;
            }

            if (isPersonal)
            {
                <li>@Html.ActionLink("My Shipping Account", "GetPersonalShippingAccountRecord", "PersonalShippingAccounts")</li>
            }
            if (isBusiness)
            {
                <li>@Html.ActionLink("My Shipping Account", "GetBusinessShippingAccountRecord", "BusinessShippingAccounts")</li>
            }
        }
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Personal Account", "Register", "Account", routeValues: new { accountType = "Personal"}, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Business Account", "Register", "Account", routeValues: new { accountType = "Business"}, htmlAttributes: new { id = "registerLink" })</li>
            </ul>
        </li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

